packaging_format = 2

id = "gitlab"
name = "GitLab"
description.en = "Git-repository manager providing wiki, issue-tracking and CI/CD pipeline features"
description.fr = "Gestionnaire de dépôts Git proposant des fonctionnalités de wiki, suivi de bugs et de pipeline CI/CD"

version = "18.6.1~ynh1"

maintainers = ["kay0u"]

[upstream]
license = "MIT"
website = "https://gitlab.com"
demo = "https://gitlab.com/explore"
admindoc = "https://docs.gitlab.com/"
code = "https://gitlab.com/gitlab-org/gitlab"
cpe = "cpe:2.3:a:gitlab:gitlab"

[integration]
yunohost = ">= 12.0.9"
helpers_version = "2.1"
architectures = ["amd64", "arm64"]
multi_instance = false

ldap = true
sso = false

disk = "500M"
ram.build = "3000M"
ram.runtime = "2000M"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/gitlab"

    [install.admin]
    type = "user"

    [install.init_main_permission]
    help.en = "If your GitLab instance is set to visitors, anyone can see your public repositories."
    help.fr = "Si votre instance GitLab est définie sur visiteurs, tout le monde pourra voir vos dépôts publics."
    type = "group"
    default = "visitors"

    [install.use_web_account]
    ask.en = "Authorize account creation from GitLab web interface"
    ask.fr = "Autoriser la création de compte depuis l'interface web de GitLab ?"
    type = "boolean"
    default = false

[resources]
    [resources.system_user]

    [resources.install_dir]
    dir = "/opt/__APP__"
    owner = "root:rwx"
    group = "root:rx"

    [resources.permissions]
    main.url = "/"
    # Fix #264 and #267
    main.auth_header = false

    [resources.ports]
    main.default = 8080
    puma.default = 8081
    sidekiq.default = 8082

    [resources.apt]
    packages = "openssh-server"

    [resources.sources]
        [resources.sources.latest_bookworm]
            extract = false
            rename = "gitlab-ce.deb"
            amd64.url = "https://packages.gitlab.com/gitlab/gitlab-ce/packages/debian/bookworm/gitlab-ce_18.6.1-ce.0_amd64.deb/download.deb"
            amd64.sha256 = "aed30bc4198ceb5597ce3071f52a17e9d0732ec1f39b05fecb2c6a45d497bbb4"
            arm64.url = "https://packages.gitlab.com/gitlab/gitlab-ce/packages/debian/bookworm/gitlab-ce_18.6.1-ce.0_arm64.deb/download.deb"
            arm64.sha256 = "31908feabcf7540b89c04595dd5125ae4234e8853f0bdcdf3157f4ab6495ba5a"

        [resources.sources.latest_bullseye]
            extract = false
            rename = "gitlab-ce.deb"
            amd64.url = "https://packages.gitlab.com/gitlab/gitlab-ce/packages/debian/bullseye/gitlab-ce_18.6.1-ce.0_amd64.deb/download.deb"
            amd64.sha256 = "c49f73a8e4185ffc6eb16ebeac27e64ea5bd9e3cf81d4e173163abfebc12317c"
            arm64.url = "https://packages.gitlab.com/gitlab/gitlab-ce/packages/debian/bullseye/gitlab-ce_18.6.1-ce.0_arm64.deb/download.deb"
            arm64.sha256 = "4f482488472dfbf948da1e93931866989158692c8967239bda77709340cdb782"

        [resources.sources.latest_trixie]
            extract = false
            rename = "gitlab-ce.deb"
            amd64.url = "https://packages.gitlab.com/gitlab/gitlab-ce/packages/debian/trixie/gitlab-ce_18.6.1-ce.0_amd64.deb/download.deb"
            amd64.sha256 = "47738ef61b7b34d58354f44a9d9ce7a16e2790379ed99b43b25f8a5054f55a6e"
            arm64.url = "https://packages.gitlab.com/gitlab/gitlab-ce/packages/debian/trixie/gitlab-ce_18.6.1-ce.0_arm64.deb/download.deb"
            arm64.sha256 = "f748e02210e0cc688ea3cb25f968145199e9c6724f3eabd822d4bec3ebf7394e"

        # GitLab 18.5.3
        [resources.sources.v18_5_3_bullseye]
            prefetch = false
            extract = false
            rename = "gitlab-ce.deb"
            amd64.url = "https://packages.gitlab.com/gitlab/gitlab-ce/packages/debian/bullseye/gitlab-ce_18.5.3-ce.0_amd64.deb/download.deb"
            amd64.sha256 = "496984e425a6d947c299ad3c2fa1a0c75e0a5b2e7b3fcc06403a174d08c2d687"
            arm64.url = "https://packages.gitlab.com/gitlab/gitlab-ce/packages/debian/bullseye/gitlab-ce_18.5.3-ce.0_arm64.deb/download.deb"
            arm64.sha256 = "f1c643fc6147f1f80450f0ab63958258848606af7f0ddc470d9338fac836df96"

        [resources.sources.v18_5_3_bookworm]
            prefetch = false
            extract = false
            rename = "gitlab-ce.deb"
            amd64.url = "https://packages.gitlab.com/gitlab/gitlab-ce/packages/debian/bookworm/gitlab-ce_18.5.3-ce.0_amd64.deb/download.deb"
            amd64.sha256 = "43a7d107ab7f131fe81c9d1e0bfe629148545b6b9fd90e93953ed172f7aa2aea"
            arm64.url = "https://packages.gitlab.com/gitlab/gitlab-ce/packages/debian/bookworm/gitlab-ce_18.5.3-ce.0_arm64.deb/download.deb"
            arm64.sha256 = "70c20352e87d8f464e465f48a6ec9744594fa1c12eb700c5b71d8c36b504f678"

        [resources.sources.v18_5_3_trixie]
            prefetch = false
            extract = false
            rename = "gitlab-ce.deb"
            amd64.url = "https://packages.gitlab.com/gitlab/gitlab-ce/packages/debian/trixie/gitlab-ce_18.5.3-ce.0_amd64.deb/download.deb"
            amd64.sha256 = "6d0442a6e4b110318d0cc1df9f0cb4177af4b0c06260089cee5094cd0ac80337"
            arm64.url = "https://packages.gitlab.com/gitlab/gitlab-ce/packages/debian/trixie/gitlab-ce_18.5.3-ce.0_arm64.deb/download.deb"
            arm64.sha256 = "5135314b7006fd8a404b4ab59d5e075722e60ff728625ec081f2bf5e39655963"

        # GitLab 18.2.8
        [resources.sources.v18_2_8_bullseye]
            prefetch = false
            extract = false
            rename = "gitlab-ce.deb"
            amd64.url = "https://packages.gitlab.com/gitlab/gitlab-ce/packages/debian/bullseye/gitlab-ce_18.2.8-ce.0_amd64.deb/download.deb"
            amd64.sha256 = "12113a6681b54475eba340d383f618485fc96285ae8480db8ac57b476b62fc2b"
            arm64.url = "https://packages.gitlab.com/gitlab/gitlab-ce/packages/debian/bullseye/gitlab-ce_18.2.8-ce.0_arm64.deb/download.deb"
            arm64.sha256 = "a8e861a3c635c15698367561b0397e5a175a0c06fe333be9af6ff73ea3d8dfd4"

        [resources.sources.v18_2_8_bookworm]
            prefetch = false
            extract = false
            rename = "gitlab-ce.deb"
            amd64.url = "https://packages.gitlab.com/gitlab/gitlab-ce/packages/debian/bookworm/gitlab-ce_18.2.8-ce.0_amd64.deb/download.deb"
            amd64.sha256 = "417da6fb09c1c4bc46123d9aac564bc6f10faf8e1cfa50e6bb9fe54ec9e8b111"
            arm64.url = "https://packages.gitlab.com/gitlab/gitlab-ce/packages/debian/bookworm/gitlab-ce_18.2.8-ce.0_arm64.deb/download.deb"
            arm64.sha256 = "47340403d3052a96d96312552287982f827b69435bb5c846ee154fee4706a78d"

        # GitLab 17.11.7
        [resources.sources.v17_11_7_bullseye]
            prefetch = false
            extract = false
            rename = "gitlab-ce.deb"
            amd64.url = "https://packages.gitlab.com/gitlab/gitlab-ce/packages/debian/bullseye/gitlab-ce_17.11.7-ce.0_amd64.deb/download.deb"
            amd64.sha256 = "ab220bf229c521fe7c3896df9b29affa13104296d087c33fd662090de82e7af7"
            arm64.url = "https://packages.gitlab.com/gitlab/gitlab-ce/packages/debian/bullseye/gitlab-ce_17.11.7-ce.0_arm64.deb/download.deb"
            arm64.sha256 = "cee043aec23d520731dddfadf784a70171064e351ededa64ced966959491723e"

        [resources.sources.v17_11_7_bookworm]
            prefetch = false
            extract = false
            rename = "gitlab-ce.deb"
            amd64.url = "https://packages.gitlab.com/gitlab/gitlab-ce/packages/debian/bookworm/gitlab-ce_17.11.7-ce.0_amd64.deb/download.deb"
            amd64.sha256 = "8579324f987f5539743e01a12a062d798c2b03f177cfc85fed3cb7c7f2e80822"
            arm64.url = "https://packages.gitlab.com/gitlab/gitlab-ce/packages/debian/bookworm/gitlab-ce_17.11.7-ce.0_arm64.deb/download.deb"
            arm64.sha256 = "c37707697a3313c5ed58c90152bbe286e94bb15e7925e23fc703062f1bb78df9"

        # GitLab 17.8.7
        [resources.sources.v17_8_7_bullseye]
            prefetch = false
            extract = false
            rename = "gitlab-ce.deb"
            amd64.url = "https://packages.gitlab.com/gitlab/gitlab-ce/packages/debian/bullseye/gitlab-ce_17.8.7-ce.0_amd64.deb/download.deb"
            amd64.sha256 = "f89b639420a28a4249a82f0ba56d244dbc8e6a6df3f06c6e44c86ee366222e99"
            arm64.url = "https://packages.gitlab.com/gitlab/gitlab-ce/packages/debian/bullseye/gitlab-ce_17.8.7-ce.0_arm64.deb/download.deb"
            arm64.sha256 = "9190058d823f2295ed4632cb5fa2227e128e354254d80500838d10635e4bd704"

        [resources.sources.v17_8_7_bookworm]
            prefetch = false
            extract = false
            rename = "gitlab-ce.deb"
            amd64.url = "https://packages.gitlab.com/gitlab/gitlab-ce/packages/debian/bookworm/gitlab-ce_17.8.7-ce.0_amd64.deb/download.deb"
            amd64.sha256 = "b79063815bbf25f6461c55614f8ca1c2addc5f2b1a5dc6f8935d6af678c2f892"
            arm64.url = "https://packages.gitlab.com/gitlab/gitlab-ce/packages/debian/bookworm/gitlab-ce_17.8.7-ce.0_arm64.deb/download.deb"
            arm64.sha256 = "851d75bbc1f60d3e6a22d0e7f2f3135ae0dcac4d44a32edab30ca9607a6df6ad"

        # GitLab 17.5.5
        [resources.sources.v17_5_5_bullseye]
            prefetch = false
            extract = false
            rename = "gitlab-ce.deb"
            amd64.url = "https://packages.gitlab.com/gitlab/gitlab-ce/packages/debian/bullseye/gitlab-ce_17.5.5-ce.0_amd64.deb/download.deb"
            amd64.sha256 = "b0f40eb8a2d55634cff59125304df1fa1fda1601dec1bf3547a4351aabd81221"
            arm64.url = "https://packages.gitlab.com/gitlab/gitlab-ce/packages/debian/bullseye/gitlab-ce_17.5.5-ce.0_arm64.deb/download.deb"
            arm64.sha256 = "8b9e8722e064889f9e20f781e61356ce8035cec5fe4cbe255b6aba97e7a7067c"

        [resources.sources.v17_5_5_bookworm]
            prefetch = false
            extract = false
            rename = "gitlab-ce.deb"
            amd64.url = "https://packages.gitlab.com/gitlab/gitlab-ce/packages/debian/bookworm/gitlab-ce_17.5.5-ce.0_amd64.deb/download.deb"
            amd64.sha256 = "cce4ebff28a0b76152922b09a2cb67fd4bc0cfdff22185654135bb93ce658bcf"
            arm64.url = "https://packages.gitlab.com/gitlab/gitlab-ce/packages/debian/bookworm/gitlab-ce_17.5.5-ce.0_arm64.deb/download.deb"
            arm64.sha256 = "51c8ca34a1c2d24b209b74f6f5dbf4e446d61cbe85de51f56c010e116c2468b3"

        # GitLab 17.3.7
        [resources.sources.v17_3_7_bullseye]
            prefetch = false
            extract = false
            rename = "gitlab-ce.deb"
            amd64.url = "https://packages.gitlab.com/gitlab/gitlab-ce/packages/debian/bullseye/gitlab-ce_17.3.7-ce.0_amd64.deb/download.deb"
            amd64.sha256 = "e78c276952c6202c23b9baac8afe05ebcaf1c5f2639e51865157e5ebddbb9554"
            arm64.url = "https://packages.gitlab.com/gitlab/gitlab-ce/packages/debian/bullseye/gitlab-ce_17.3.7-ce.0_arm64.deb/download.deb"
            arm64.sha256 = "f22a39ea10275d7be6b0abe02728ae92f99afdcce2220d1d6cf802332375b1f8"

        [resources.sources.v17_3_7_bookworm]
            prefetch = false
            extract = false
            rename = "gitlab-ce.deb"
            amd64.url = "https://packages.gitlab.com/gitlab/gitlab-ce/packages/debian/bookworm/gitlab-ce_17.3.7-ce.0_amd64.deb/download.deb"
            amd64.sha256 = "26ad3fd4533e648d8a0e393ef95c761da486aca6d84295c8ba99d0ee6afa989e"
            arm64.url = "https://packages.gitlab.com/gitlab/gitlab-ce/packages/debian/bookworm/gitlab-ce_17.3.7-ce.0_arm64.deb/download.deb"
            arm64.sha256 = "7fc3fc2b589f7f270f04d03bf0286d0b271f33346f521dc1174ced9d9b4d2561"

        # GitLab 17.1.8
        [resources.sources.v17_1_8_bullseye]
            prefetch = false
            extract = false
            rename = "gitlab-ce.deb"
            amd64.url = "https://packages.gitlab.com/gitlab/gitlab-ce/packages/debian/bullseye/gitlab-ce_17.1.8-ce.0_amd64.deb/download.deb"
            amd64.sha256 = "4aeefcae5fc886a83a5bca02f96b9ea15390d19f3dd5e60f43971d8e373830b3"
            arm64.url = "https://packages.gitlab.com/gitlab/gitlab-ce/packages/debian/bullseye/gitlab-ce_17.1.8-ce.0_arm64.deb/download.deb"
            arm64.sha256 = "fbbcad2475101deb46c2bdba3cf5cac01ac0816b23f0e1dea682912ce85d5b30"

        [resources.sources.v17_1_8_bookworm]
            prefetch = false
            extract = false
            rename = "gitlab-ce.deb"
            amd64.url = "https://packages.gitlab.com/gitlab/gitlab-ce/packages/debian/bookworm/gitlab-ce_17.1.8-ce.0_amd64.deb/download.deb"
            amd64.sha256 = "6a0c4466d43692491d3bd63a66f411ede7114ed73cc0d71649c0def1d1768e6b"
            arm64.url = "https://packages.gitlab.com/gitlab/gitlab-ce/packages/debian/bookworm/gitlab-ce_17.1.8-ce.0_arm64.deb/download.deb"
            arm64.sha256 = "64d92f60b00079f40f62dd5248e1bc6a1da0938b0e6fb22c921c4907e93b8b9c"

        # GitLab 16.11.10
        [resources.sources.v16_11_10_bullseye]
            prefetch = false
            extract = false
            rename = "gitlab-ce.deb"
            amd64.url = "https://packages.gitlab.com/gitlab/gitlab-ce/packages/debian/bullseye/gitlab-ce_16.11.10-ce.0_amd64.deb/download.deb"
            amd64.sha256 = "f069370fd9d8a893a628a66a1ea4e4d857440ab0fea43d289d2177182b65e0da"
            arm64.url = "https://packages.gitlab.com/gitlab/gitlab-ce/packages/debian/bullseye/gitlab-ce_16.11.10-ce.0_arm64.deb/download.deb"
            arm64.sha256 = "3da28c1d1d4f88e39bfc546a621aee984f5a90072f3dd8756587fa7b9c70aa40"

        [resources.sources.v16_11_10_bookworm]
            prefetch = false
            extract = false
            rename = "gitlab-ce.deb"
            amd64.url = "https://packages.gitlab.com/gitlab/gitlab-ce/packages/debian/bookworm/gitlab-ce_16.11.10-ce.0_amd64.deb/download.deb"
            amd64.sha256 = "4312fe0d2be18beaf3af927ed6e34cb5a4048275315c5415922adc600650c52f"
            arm64.url = "https://packages.gitlab.com/gitlab/gitlab-ce/packages/debian/bookworm/gitlab-ce_16.11.10-ce.0_arm64.deb/download.deb"
            arm64.sha256 = "5bc3c67dad538665ba11269fc7d1eb21234171822381f11d0d17b242fe5c8067"


