packaging_format = 2

id = "gitlab"
name = "GitLab"
description.en = "Git-repository manager providing wiki, issue-tracking and CI/CD pipeline features"
description.fr = "Gestionnaire de dépôts Git proposant des fonctionnalités de wiki, suivi de bugs et de pipeline CI/CD"

version = "18.5.0~ynh1"

maintainers = ["kay0u"]

[upstream]
license = "MIT"
website = "https://gitlab.com"
demo = "https://gitlab.com/explore"
admindoc = "https://docs.gitlab.com/"
code = "https://gitlab.com/gitlab-org/gitlab"
cpe = "cpe:2.3:a:gitlab:gitlab"

[integration]
yunohost = ">= 12.0.0"
architectures = ["amd64", "arm64"]
multi_instance = false
ldap = true
sso = false
disk = "500M"
ram.build = "3000M"
ram.runtime = "2000M"

[install]
    [install.domain]
    # this is a generic question - ask strings are automatically handled by Yunohost's core
    type = "domain"

    [install.path]
    # this is a generic question - ask strings are automatically handled by Yunohost's core
    type = "path"
    default = "/gitlab"

    [install.admin]
    # this is a generic question - ask strings are automatically handled by Yunohost's core
    type = "user"

    [install.init_main_permission]
    help.en = "If your GitLab instance is set to visitors, anyone can see your public repositories."
    help.fr = "Si votre instance GitLab est définie sur visiteurs, tout le monde pourra voir vos dépôts publics."
    type = "group"
    default = "visitors"

    [install.use_web_account]
    ask.en = "Authorize account creation from GitLab web interface"
    ask.fr = "Autoriser la création de compte depuis l'interface web de GitLab ?"
    type = "boolean"
    default = false

[resources]
    [resources.sources]
        [resources.sources.latest_bookworm]
        extract = false
        rename = "gitlab-ce.deb"
        amd64.url = "https://packages.gitlab.com/gitlab/gitlab-ce/packages/debian/bookworm/gitlab-ce_18.3.1-ce.0_amd64.deb/download.deb"
        amd64.sha256 = "cf919a906e52d45ae4101e075cf7401cf0d2115a6f22f8f9c91c325f249240e4"
        arm64.url = "https://packages.gitlab.com/gitlab/gitlab-ce/packages/debian/bookworm/gitlab-ce_18.3.1-ce.0_arm64.deb/download.deb"
        arm64.sha256 = "b62f76d3900c4a368f218861a964863ea214773cd8c1c2fcc699497dd99725d9"

    [resources.sources.latest_bullseye]
        extract = false
        rename = "gitlab-ce.deb"
        amd64.url = "https://packages.gitlab.com/gitlab/gitlab-ce/packages/debian/bullseye/gitlab-ce_18.3.1-ce.0_amd64.deb/download.deb"
        amd64.sha256 = "609aa6eaff829dc48ed5e42ceaa57e4a283567ac1d70178b24be0c448204fd17"
        arm64.url = "https://packages.gitlab.com/gitlab/gitlab-ce/packages/debian/bullseye/gitlab-ce_18.3.1-ce.0_arm64.deb/download.deb"
        arm64.sha256 = "a6ac91e0d2fe1cf009c7f2a6ba569b314f6fd997a73ed6e1074555999207c4f6"

    [resources.system_user]

    [resources.install_dir]
    dir = "/opt/__APP__"

    [resources.permissions]
    main.url = "/"
    # Fix #264 and #267
    main.auth_header = false

    [resources.ports]
    main.default = 8080
    puma.default = 8081
    sidekiq.default = 8082

    [resources.apt]
    packages = "openssh-server"
