test_format = 1.0

[default]
    # -------------------------------
    # Commits to test upgrade from
    # -------------------------------

    test_upgrade_from.1945b0a4c957ceb48d66309de449180035342345.name = "Upgrade from 18.6.0"
